{% extends '/layouts/lmnzr-layout.twig' %}
{% set title = 'Page Example' %}

{% block content %}

    <div class="min-height-vp d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 offset-lg-2 d-flex justify-content-center">
                    <h1>Template Page Example</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
