{% extends '/layouts/lmnzr-layout.twig' %}
{% set title = 'Page Example' %}

{% block content %}

    <div class="min-height-vp d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 offset-lg-2 d-flex justify-content-center">

                    {% include '/components/lmnzr/images/images.twig' with {
                        path: '',
                        src: 'cover-ot',
                        ext: 'jpeg',
                        webp: true,
                        width: 2400,
                        height: 1600,
                        class: 'img-fluid',
                        attributes: 'data-bs-target="#target"',
                        sources: [
                            { bpt: 'sm', suffix: 'mobile', w: [ 600, 1100 ], sizes: '100vw', width: 1100, height: 1550 },
                            { bpt: '', suffix: '', w: [ 1200, 1800, 2400 ], sizes: '50vw', width: '', height: '' },
                        ]
                    } %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
